*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: rgb(215, 222, 233);
}
ul{
    list-style: none;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}
.header{
    grid-area: 1 / 2 / 2 / 4;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    box-shadow: 3px 3px 5px rgb(167, 167, 187);
    z-index: 2;
}
.search{
    display: flex;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    padding-left: 35px;
    gap: 15px;
}
.svg3{
    fill: rgb(0, 0, 0);
    width: 25px;  
}
.search-bar{
    width: 750px;
    height: 30px;
    background-color: rgb(215, 222, 233);
    border-radius: 20px;
}
.pfp{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: 1fr / 1fr 2fr 4fr;  
    padding-bottom: 5px;
}
.pfp1{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.pic{
    justify-self: center;
}
.intro{
   align-self: center;
}
.greet{
    font-weight: bold;
    font-size: 14px;
}
.acc{
    font-weight: bold;
    font-size: 20px;
}
.top-right{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr ;
    padding-right: 50px;
}
.pfp2{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
#bell{
    align-self: center;  
    justify-self: end;
}
.pic2{
    justify-self: end;
    align-self: center; 
    padding-right: 20px;
}
.scnd-name{
    align-self: center; 
    justify-self: baseline;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.nav-buttons{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    padding-right: 50px;
}
.new, .upload, .share{
    background-color: rgb(22, 170, 255);
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: bold;
}

.sidebar{
    grid-area: 1 / 1 / 4 /2;
    display: grid;
    justify-content: first baseline;
    align-content: start;
    background-color: rgb(22, 170, 255);
    color: white;
    gap: 35px;
}
.title{
    display: flex;
    gap: 15px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    align-items: center;
}
.svg-dash{
    fill: aliceblue;
    width: 50px;
    margin-left: 7%; 
}
.svg{
    fill: aliceblue;
    width: 25px;  
}
.nav{
    font-size: 20px;
    font-weight: bold;
}
.nav li{
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap: 30px;
    padding-left: 10%;
}
.setting{
    font-size: 20px;
    font-weight: bold;
}
.setting li{
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap: 30px;
    padding-left: 10%;
}
.projects{
    grid-area: 2 / 2 / 4 / 3;
    background-color: rgb(215, 222, 233);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.25fr 5fr;
    padding-bottom: 20px;
    z-index: 1;
}
.project-grid{
    display: grid;
    grid-area: 2 / 1 / 3 / 3;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    justify-items: center;
}
#your{
    grid-area: 1 / 1 / 2 / 3;
    justify-self: baseline;
    align-self: end;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
.project{
    background-color: white;
    box-shadow: 3px 3px 5px rgb(167, 167, 187);
    border-left: 10px solid orange;
    border-radius: 10px;
    width:95%;
    height: 82%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    align-self: center;
}
.name{
    font-weight: bold;
    font-size: 20px;
}
.description{
    color: rgb(77, 77, 77);
}
.text{
    grid-area: 1/1/2/3;
    margin-left: 15px;
    margin-top: 5%;
}
.svg2{
    fill: rgb(46, 46, 46);
    width: 25px;  
    margin: 10px;
}
.icons{
    grid-area: 2/2/3/3;
}
.announcements{
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgb(215, 222, 233);
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 4fr;
    justify-items: center;
    z-index: 1;
}
#your2{
    align-self: end;
    padding-bottom: 20px;
    justify-self: start;
    font-weight: bold;
    font-size: 20px;
}
.announcement{
    background-color: white;
    box-shadow: 3px 3px 5px rgb(167, 167, 187);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}
.text2{
    width: 90%;
    padding: 20px;
    border-top: 1px solid rgb(165, 165, 165);
}
.text2:first-child{
    border-top: none;
}
.name2{
    font-weight: bold;
    font-size: 15px;
}
.description2{
    color: rgb(77, 77, 77);
    font-size: 13px;
}
.trendings{
    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template: 0.25fr 4fr / 1fr;
    padding-bottom: 47px;
}
#your3{
    margin-top: 30px;
    padding-bottom: 10px;
    justify-self: start;
    font-weight: bold;
    font-size: 20px;
}
.trending{
    background-color: white;
    box-shadow: 3px 3px 5px rgb(167, 167, 187);
    border-radius: 10px;
    display: grid;
    grid-template: repeat(4,1fr)/1fr;
    gap: 20px;
    width: 90%;
}
.trending-pfp{
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}
.pfp3{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.trnd-pfp{
    justify-self: center;
}
.trending-pfp:first-child{
    padding-top: 20px;
}
.trending-pfp:last-child{
    padding-bottom: 20px;
}
.trnd-text{
    align-self: center;
}
.trnd-at{
    font-weight: bold;
}
.trnd-name{
    color: rgb(77, 77, 77);
    font-size: 15px;
}
